*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --color-primary:#2f3542;
    --color-secondr:#0652DD;
    --color-white:#FFFFFF;
    --color-grey-1:#57606f;
    --color-grey-2:#4b4b4b;
    --color-green:#27ae60;
}

.light-mode{
    --color-primary:#FFFFFF;
    --color-white:#2f3542;
    
}

body{
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: var(--color-white);
 
}
header{
    min-height: 90vh;
    width: 100%;
    color: var(--color-white);
    overflow: hidden;
}
section{
    min-height: 90vh;
    max-height: 90vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    
}



.sec1{
  background-color:var(--color-primary)
}
.sec2{
    
    background-color:red;
}
.sec3{
    background-color: green;
}
.sec4{
    background-color: hotpink;
}
.sec5{
    background-color: indigo;
}

.active{
    display: block;
    animation: page .4s ;
    @keyframes page {
        0%{
            clip-path: circle(0px at 0% -10%) ;
        }
        10%{
            clip-path: circle(100px at 0% -10%) ;
        }
        20%{
            clip-path: circle(200px at 0% -10%) ;
        }
        30%{
            clip-path: circle(300px at 0% -10%) ;
        }
        40%{
            clip-path: circle(400px at 0% -10%) ;
        }
        50%{
            clip-path: circle(500px at 0% -10%) ;
        }
        60%{
            clip-path: circle(600px at 0% -10%) ;
        }
        70%{
            clip-path: circle(700px at 0% -10%) ;
        }
        80%{
            clip-path: circle(800px at 0% -10%) ;
        }
        90%{
            clip-path: circle(900px at 0% -10%) ;
        }
        100%{
            clip-path: circle(1000px at 0% -10%) ;
        }
    }
    
     
}
.deactive{
    display: none;
}

.active-btn{
   background-color: var(--color-green) !important;
}



// controller

.controlles{
    position: fixed;
    width: auto;
    height: auto;
    left: 50%;
    bottom: 0%;
    background-color: var(--color-primary);
    transform: translateY(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 10rem;
    .control{
        position: relative;
        width: 55px;
        height: 55px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 1.3rem;
        display: flex;
        border-radius: 50%;
        background-color: var(--color-grey-2);
        cursor: pointer;
        i{
            color: var(--color-white);

        }
        
    }
    .control:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color:var(--color-green);
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
    }
    .control:hover:before{
        transform: scale(1.1);
        box-shadow: 0 0 20px var(--color-green);
    }

}
//theme btn

.theme-btn{
    position: fixed;
    top: 5%;
    right:3%;
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 50%;
    background-color: var(--color-grey-1);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 1px var(--color-white);
    i{
        font-size: 2rem;
        color: var(--color-primary);
    }
}


/*Index page*/

.header-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    width: 100%;
    height: 90vh;
    .left-con{
        position: relative;
        overflow: hidden;
        .main-con{
            position: relative;
            width: 100%;
            height: 100%;
            margin-top: 10rem;
            margin-left: 10rem;
           
            h3{
                display: flex;
                flex-direction: column;
                position: relative;
                width: 70%;
                font-size: 2.8rem;
                font-weight: 500;
                letter-spacing: .2rem;
                text-transform: uppercase;
                margin-bottom: 1rem;
                
            }
            .span{
                
                font-size: 3rem ;

                strong{
                    font-size: 2.8rem;
                    color: var(--color-green);
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
            .main-content{
                position:relative;
               
                font-size: 2rem;
                font-weight: 500;
                margin-top:2rem;
                display: flex;
               
                span{
                    font-weight: 600;
                    margin-right: 1rem;
                }
                ul{
                    position: absolute;
                    top: 0;
                    left: 100px;
                  
                    height: 50px;
                   
                    li{
                        font-size: 2.5rem;
                       
                    }

                }
               
               

            }
            p{
                overflow: hidden;
                margin-top: 2rem;
                line-height: 1.5rem;
                font-weight: 500;
            }
            .main-social-media{
                position: relative;
                width: 15%;
                display: flex;
                margin-top: 1rem;
                i{
                    font-size: 1.5rem;
                    color: var(--color-white);
                    padding-right: 1rem;
                    cursor: pointer;
                    transform: scale(1);
            

                    &:hover{
                        color: var(--color-green);
                        transform: scale(1.5);
                         margin-left: .5rem;
                         margin-right: .5rem;
                    }
                }
            }
            .main-btn{
                margin-top: 2rem;
                position: relative;
                display: flex;

                .download-btn{
                    position: relative;
                    text-decoration: none;
                    color: var(--color-white);
                    font-size: 1.2rem;
                    border: 1px solid var(--color-green);
                    
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    width: 210px;
                    height: 50px;
                    margin-right: 2rem;
                    overflow: hidden;
                    span{
                       z-index: 2;
                       font-weight: 500;
                    }
                    div{
                        position: absolute;
                        background-color: var(--color-green);
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        left: 150px;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        margin-left: 10px;
                        z-index: 2;
                        
                        i{
                            font-size: 2rem;
                            color: var(--color-white);
                            background-color: var(--color-green);
                            
                        }


                
                    }
                
                    &:after{
                        content:' ';
                        width: 1px;
                        height: 55px;
                        position: absolute;
                        border-radius: 25px;
                        top: 0;
                        right: 50px;
                        overflow: hidden;
                        transform: translateX(100%);
                        transition: all 1s ease-in-out;
                        z-index: -1;
                    }
                    &:hover{
                        overflow: hidden;
                      &:after{
                         
                          background-color: var(--color-green);
                          width: 102%;
                          height: 100%;
                         
                          z-index: 1;
                          transform: translateX(25%);
  
                        }
                    }
                }
                .hire-btn{
                    position: relative;
                    text-decoration: none;
                    color: var(--color-white);
                    font-size: 1.2rem;
                    border: 1px solid var(--color-green);
                    display: flex;
                    border-radius: 50px;
                    justify-content: center;
                    align-items: center;
                    align-items: center;
                    font-weight: 500;
                    letter-spacing: .2rem;
                    width: 150px;
                    height: 50px;
                    background-color: var(--color-green) !important;
                    transform: scale(1);
                           
                    &:hover{
                        background-color: var(--color-primary) !important;
                        border:1px solid var(--color-green);
                        transform: scale(1.1);
                        box-shadow: 0 0 5px var(--color-green);
                      
                    }
                }
               
            }
        }
    }
    .right-con{
        position: relative;
        .header-dec{
          
            position:absolute;
      
            width: 100%;
            height: 100%;
            top: 100px;
            right: 0;
            z-index: 1;
            img{
                
                position: relative;
                top: 15%;
                width: 75%;
                height: 100%;
                object-fit: cover;
               
                
                
            }
           
            
        }
       
        .hero-img{
            display: flex;
            position: relative;
            width: 90%;
            height: inherit;
            justify-content: center;
            align-items: center;
         
          
            img{
                position: relative;
                top:100px;
                left: 74px;
                width: 100%;
                height: 90%;
                object-fit: cover;
                z-index: 2;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0);
                }
            }
            
        }
        
    }


}
//header shape decoration
.header-shape-container{
    background-color: var(--color-primary);
    position: absolute;
    width: 300px;
    height: 300px;
    top: -10%;
    left: 40%;
    
    .header-shape{
        display: flex;
        background-color: var(--color-primary);
        position: absolute;
        top: -13%;
        left: 50%;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border:10px solid var(--color-green);
        animation: rot 5s infinite;
        @keyframes rot {
            0%{
                top: -30%;
                left: 50%;
                transform: rotate(0deg);
                box-shadow: 0 0 30px var(--color-secondr);
            }
            25%{
                top: 0%;
                left: 50%;
                transform: rotate(90deg);

            }
            75%{
                top: 0%;
                left: 20%;
                transform: rotate(90deg);
                box-shadow: 0 0 30px var(--color-green);
            }
            100%{
                top: -50%;
                left:0%;
                transform: rotate(90deg);
            }
        } 
    
    }
}

.right-shape{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-secondr);
    background-color: var(--color-primary);
   
    animation: rotate 2s infinite;
    @keyframes rotate {
        0%{
            transform: rotate(90deg);
        }
        25%{
            transform: rotate(180deg);
        }
        75%{
            transform: rotate(90deg);
        }
        100%{
            transform: rotate(270deg);
            box-shadow: 0 0 8px var(--color-secondr);
            
        }
        
    }
}
#right-shape-1{
    right: 10%;
    bottom: -40%;
}
#right-shape-2{
    right: 15%;
    bottom: -48%;
}
#right-shape-3{
    border: 2px solid var(--color-green) !important;
    right: 35%;
    bottom: 40%;
    border-radius: 50%;
    animation: rotate-3 1.5s infinite;
    @keyframes rotate-3 {
        0%{
            transform: rotate(90deg);
             box-shadow: 0 0 8px var(--color-green);
        }
        25%{
            transform: rotate(180deg);
        }
        75%{
            transform: rotate(90deg);
        }
        100%{
            transform: rotate(90deg);
            
            
        }
        
    }
}
#right-shape-4{
    right: 100%;
    bottom: -43%;
    border: 2px solid var(--color-white);
    border-radius: 23px;
  
}
#right-shape-left{
    top: 75%;
    left: -1.5%;
    border-color: var(--color-grey-1);

}




